extends ../layout.pug

block content
  main
    section.post
      h1.visually-hidden Пост
      section.post__content
        h2.visually-hidden Основное содержание
        .post__wrapper
          .post__head
            a.post__backwards.button.button--backwards(href='#') Назад
            time.post__date(datetime=article.createdDate)
              +date(article.createdDate)
            h2.post__title.title.title--main #{article.title}
            ul.post__themes.themes
              each category in categories
                li.themes__item
                  a.themes__item-link(href='#') #{category.name}
                    sup #{category.count}
                  button.themes__remove-btn(type='button') Удалить категорию
          .post__picture
            img(src=`/img/${article.picture}` alt=article.title)
          .post__text
            h3 Какой-то заголовок
            p #{article.announce}
            p #{article.fullText}
      .post__wrapper.post__wrapper--comments
        section.post__comments.comments
          h2.comments__title.title.title--middle #{`Комментарии${article.comments && article.comments.length ? '' : ' отсутствуют'}`}
          if article.comments.length
            each comment in article.comments
              ul.comments__list
                li.comments__comment
                  .comments__avatar.avatar
                    img(src='/img/avatar-1.png' alt='аватар пользователя')
                  .comments__text
                    .comments__head
                      p Евгений Петров •
                      time.comments__date(datetime=comment.createdAt)
                        +date(comment.createdAt)
                    p.comments__message #{comment.text}
          .comments__footer.comments__footer--user
            form(action=`/articles/${id}/comments` enctype='application/x-www-form-urlencoded' method='POST')
              .comments__avatar.avatar
                img(src='/img/avatar-2.png' alt='аватар пользователя')
              label
                textarea(rows='1' name='comment' placeholder='Присоединиться к обсуждению')
              button.comments__button.button.button--colored(type='submit') Опубликовать
              +insertErrorMessages(validationMessages)
