extends ../layout.pug

block content
  main.main-page
    h1.visually-hidden Главная страница личного блога Типотека
    p
      | Это приветственный текст, который владелец блога может выбрать, чтобы описать себя 👏

    if !articles.length
      .main-page__empty-wrapper
        p.main-page__empty-text Здесь пока пусто!
    else
      section.main-page__theme-list
        h2.visually-hidden Список тем
        ul.themes
          each category in categories
            if category.count
              li.themes__item
                a.themes__item-link(href=`articles/category/${category.id}`)
                  | #{category.name}
                  sup #{category.count}
      .main-page__section-flex
        section.main-page__hot.hot
          h2.hot__name
            | Самое обсуждаемое
            span.hot__icon.hot__icon--fire
          if popularArticles.length
            ul.hot__list
              each popularArticle in popularArticles
                li.hot__list-item
                  a.hot__list-link(href=`/articles/${popularArticle.id}`)
                    +sliceText(popularArticle.announce)
                    sup.hot__link-sup #{popularArticle.comments.length}
          else
            p.last__empty Здесь пока ничего нет...
        section.main-page__last.last
          h2.last__name
            | Последние комментарии
            span.last__icon.last__icon--cloud
          if latestComments
            ul.last__list
              each comment in latestComments
                li.last__list-item
                  if comment.users.avatar
                    img.last__list-image(src=`/img/${comment.users.avatar}` width='20' height='20' alt='')
                  b.last__list-name #{comment.users.firstName} #{comment.users.lastName}
                  a.last__list-link(href=`articles/${comment.articleId}`)
                    +sliceText(comment.text)
          else
            p.last__empty Здесь пока ничего нет...
      section.main-page__list.preview
        h2.visually-hidden Список превью статей
        ul.preview__list
          each article in articles
            li.preview__item
              ul.preview__breadcrumbs
                each category in article.categories
                  li.preview__breadcrumbs-item
                    a.preview__breadcrumbs-link(href='#') #{category.name}
              .preview__background
                img.preview__background-image(src=`/img/${article.picture}` width='460' height='240' alt=article.title)
              time.preview__time(datetime=article.createdDate)
                +date(article.createdDate)
              h3.preview__name
                a.preview__name-link(href=`/articles/${article.id}`) #{article.title}
              p.preview__text #{article.announce}
              a.preview__comment(href='#')
                | Комментарии
                span.preview__cloud
                b.preview__comment-count #{article.comments.length}
      .preview__toggle-wrapper
        +pagination(page, totalPages, 2, `?`)
