doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(name='description' content='Личный блог Типотека')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Типотека
    link(rel='preload' href='/fonts/Inter-Regular.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='/fonts/Inter-Medium.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='/fonts/SFProDisplay-Regular.woff2' as='font' crossorigin='anonymous')
    link(rel='stylesheet' href='/css/style.min.css')
    style.
      .server-error {
        border-radius: 10px;
        color: white;
        background-color: tomato;
        margin: 20px 0;
        padding: 10px;
      }
  body
    mixin insertErrorMessages(messages)
      if messages
        each message in messages
          ul.form__errors
            li.form__error= message

    mixin insertInputErrorMessages(errors, messages)
      if errors
        each message in errors
          if message.includes(messages)
            p.form__error-message= message

    mixin date(dateValue)
      | #{new Date(dateValue).toLocaleDateString({hour: 'numeric', minute: 'numeric'})}

    mixin dateWithTime(dateValue)
      | #{new Date(dateValue).toLocaleString('ru-RU', { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' })}

    mixin sliceText(text)
      | #{text.length <= 100 ? text : text.slice(0, 100) + '...'}

    mixin pagination(page, totalPages, width, prefix)
      -
        // вычислим начальную и конечную страницу диапазона без учёта ограничений
        let start = page - width;
        let end = page + width;
        // передвинем диапазон вправо, если он начинается с номера меньше единицы
        if(start < 1){
          end += 1 - start;
          start = 1;
        }
        // передвинем диапазон влево, если он заканчивается номером больше количества страниц
        if(end > totalPages){
          start -= end - totalPages;
          end = totalPages;
        }
        // если мы оказались в этой ветке, значит, всего страниц слишком мало. делаем начало диапазона 1
        if(start < 1){
          start = 1;
        }
        let i = start - 1

      ul.preview__pagination.pagination
        if start > 1
          li
            a.pagination__button.button.button--backwards(href=`${prefix}page=${page - 1}` class={'button--disabled': i === 1} aria-label='Страница назад') Назад
        while i++ < end
          li.pagination__item(class={'pagination__item--active': i === page})
            if (i === page)
              a= i
            else
              a(href=`${prefix}page=${i}`)= i
        if end < totalPages
          li
            a.pagination__button.button.button--forward(href=`${prefix}page=${page + 1}` class={'button--disabled': i === totalPages} aria-label='Страница вперед') Вперёд

    .wrapper
      include partials/header.pug
      block content
      include partials/footer.pug
    script(src='/js/vendor.js')
    script(src='/js/main.js')
