extends ../layout.pug

block content
  main.main-page.main-page--padding
    section.main-page__publication.publication
      h1.publication__title Комментарии
      ul.publication__list
        each comment in comments
          li.publication__list-item
            .publication__header
              img.publication__list-image(src='/img/avatar-small-2.png' width='20' height='20' alt='Аватар пользователя')
              b.publication__list-name Александр Петров
              time.publication__item-time(datetime=comment.createdAt)
                +dateWithTime(comment.createdAt)
            a.publication__item-text(href='#') #{comment.text}
            p.publication__text-strong #{comment.articleTitle}
            form(action=(`/articles/${comment.articleId}/comments/${comment.id}`) method='POST' enctype='application/x-www-form-urlencoded')
              input(type="hidden" name="_csrf" value=csrfToken)
              button.publication__button.button.button--close-item(type='submit')
                span.visually-hidden Закрыть строку списка
